
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>User</th>
            

        </tr>
    </thead>
    @foreach (var b in ViewBag.Roles)
    {
        <tbody>

            <tr>
               
                <td style="width:30%">@b</td>
             
         
            </tr>
        </tbody>

    }
</table>
