@model WebAppFreelancer.Models.CountryModel
@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
<h2>@ViewBag.Title</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
    Add country
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddCountry", "Home"))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" required="required" name="code" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Oprations</th>

            </tr>
        </thead>
        @foreach (var b in ViewBag.Countries)
        {
            <tbody>

                <tr>
                    <td width="10%">@b.countryid</td>
                    <td style="width:70%">@b.name</td>
                    <td>
                        <a href="#editStudentModal" class="btn btn-danger edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i> Edit</a>
                        <input type="hidden" class="id" value="@b.countryid" />
                    </td>
                </tr>
            </tbody>

        }
    </table>


    <!--Edit Modal Html-->
    <div id="editStudentModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("updateCountry", "Home"))
                {
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" required="required" name="name" />
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" required="required" name="code" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                        <input type="Submit" class="btn btn-info" value="Save" />
                        <input type="hidden" id="id" name="countryid" />
                    </div>
                }
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-google="tooltip"]').tooltip();

                $('table .edit').on('click', function () {
                    var id = $(this).parent().find('.id').val();
                    $.ajax({
                        type: 'GET',
                        url: '/Home/Find/' + id,
                        success: function (country) {
                            $('#editStudentModal input[name="countryid"]').val(country.countryid);
                            $('#editStudentModal input[name="name"]').val(country.name);
                            $('#editStudentModal input[name="code"]').val(country.code);
                        }
                    })
                })
            });
        </script>
    }




</div>



