
@{
    ViewBag.Title = "updateCountry";
}

<h2>updateCountry</h2>
<h1>
    @ViewBag.c.projectid
</h1>
<h1>
    @ViewBag.c.project_name
</h1>
<h1>
    @ViewBag.c.categoryID
</h1>
<h1>
    @ViewBag.c.category.category_name
</h1>
<h1>
  
</h1>
